<div class='container m-5 text-center'>
<h1>All flats available</h1>
<div class='d-flex flex-row'>
  <% @flats.each do |flat| %>
    <div class="card m-2" style="width: 18rem bg-light">
      <img class="card-img-top" src="https://source.unsplash.com/featured/?{appartment},{interior}" alt="<%= flat.name  %>">
      <div class="card-body">
        <h5 class="card-title"><%= flat.name%></h5>
        <p class="card-text"><%= flat.address%></p>
        <p class="card-text"><%= flat.description%></p>
        <div class='d-flex justify-content-around m-2'>
          <i class="fas fa-user-friends"><%= flat.number_of_guests%></i>
          <i class="fas fa-euro-sign"><%= flat.price_per_night%></i>
        </div>
      </div>
      <div class='bg-white'>
         <a href="#" class="text-success">More Info</a>
          <a href="#" class="text-warning">Edit</a>
           <a href="#" class="text-danger">Remove</a>
      </div>
    </div>
  <% end %>
  </div>
</div>
